.appBar {
    /* height: 8vh; */
    background-color: #575151 !important;
    color: white !important;
  }

.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: white;
    display: flex !important;
    flex-direction: column;
}
.css-19r6kue-MuiContainer-root {
  padding-left: 15px !important;
  padding-right: 1px !important;
}
  
  .link {
    color: #575151;
    text-decoration: none;
    /* font-size: x-large; */
    padding: 10px;
    width: 100px;
  }
  .linkMenu{
    color: white;
    text-decoration: none;
    padding: 24px;
    width: 150px;
    text-align: center;
  }
  .linkMenu:focus , .linkMenu:active{
    border-bottom: solid 3px rgb(255,170,23);
  }
  /* .menuCenter{
    text-align: center;
  } */
  
  /* .name {
    width: "8vh";
    background-color: "white";
    color: "#575151";
    text-align: "center";
    border-radius: 1;
  } */
  /*.log_out{
     padding-right: 20vw;
    border: 1 solid white; 
  }*/
  .editor{
    color: black;
    border-color: black;
    overflow: auto;
    height: 70vh;
    max-width: 75vh;
  }
  
  