.App {
  text-align: center;
  direction: rtl;
}
/* Navigation{
  width: 900px;
  background-color: aqua;
} */
/* p{
  direction: rtl;
  background: green;
} */
/* div{
  direction: rtl;
} */
.css-10hburv-MuiTypography-root{
  font-weight: 600 !important;
  text-align: start;
}
.GridUserDetails{
  position: fixed;
  height: 100px;
  z-index: 1000;
  margin-right: 20px;
}